extends ../layout

block content

  h1 #{title}
  h2 Products made of this fabric

  if products.length
    ul
      each product in products
        li
          a(href=product.url) #{product.name}
  else
    p There are no products made of this fabric.
  
  hr
  p
    a(href=`${fabric.url}/update`) Edit this fabric

  form(action='/fabrics/delete' method="post")
    input(type='hidden' name='id' value=fabric._id)
    button(type='submit') Delete this fabric

  p Warning: Deleting a fabric will delete all of its related products, models and pieces.