extends ../layout

block content
  h1= title
  p Style of #[a(href=style.category.url) #{style.category.name.toLowerCase()}]

  h2 Products in this style
  if products.length
    ul
      each product in products
        li
          a(href=product.url) #{product.name}
  else
    p There are no products in this style.
          
  hr
  p
    a(href=`${style.url}/update`) Edit this style

  form(method='post' action='/styles/delete')
    input(type='hidden' name='id' value=style._id)
    button(type='submit') Delete this style
  p Deleting a style removes it from all of its products.