extends ../layout

block content
  h1= title

  p Id: #{instance._id}
  p Model: #[a(href=instance.model.url) #{instance.model.product.name}, #{instance.model.gender}, #{instance.model.color.name}]
  p Size: #{instance.model.sizes[instance.size]}
  p Status: #{instance.available ? 'Available' : 'Unavailable'}

  hr
  p
    a(href=`${instance.url}/update`) Edit this piece

  form(method='post' action='/instances/delete')
    input(type='hidden' name='id' value=instance._id)
    button(type='submit') Delete this piece